<%= form_with model: @user, class:"ui form" do |form| %>
    <div class="field">
        <%= form.label "Username: " %>
        <%= form.text_field :username %>
    </div>
    <div class="field">

        <%= form.label "Password: " %>
        <%= form.password_field :password %>
    </div>
    <div class="field">
        <%= form.label "Password confirmation: " %>
        <%= form.password_field :password_confirmation %>
    </div>
    <div>
    <div>
        <%= form.submit class:"ui button" %>
    </div>
<% end %>
